*.exe
*.exe~
node_modules/
frontend/dist/
frontend/dist.backup/
frontend/wailsjs/
old/
backup/
demo/
local/
dev_logs/
*.log
*.pcapng
.idea/
.DS_Store

build/bin/*
!build/bin/mabidata.db
!build/appicon.png
!build/windows/icon.ico